@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-color: rgb(28, 5, 32);
}

.navigation-element-title {
  color: white;
  text-decoration: none;
  margin: 1rem;
}
.navigation-element-title:hover {
  color: rgb(85, 4, 85);
  transform: scale(0.5);
}

.navigation-element-title:active {
  transform: scale(0.5);
}

.mobile-navigation-element-title {
  color: inherit;
  text-decoration: none;
  margin: auto;
}

.mobile-navigation-element-title:hover {
  color: white;
}
